@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9hmxtl');
  src:  url('fonts/icomoon.eot?9hmxtl#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9hmxtl') format('truetype'),
    url('fonts/icomoon.woff?9hmxtl') format('woff'),
    url('fonts/icomoon.svg?9hmxtl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone-call:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e942";
}
.icon-users:before {
  content: "\e972";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-dribbble:before {
  content: "\eaa7";
}
.icon-behance:before {
  content: "\eaa8";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-pinterest:before {
  content: "\ead1";
}
