// container
.container {
    width: calc(100% - #{$total_gutter});
    max-width: $container_max;
    margin: 50px auto;

    &.container--fluid {
        max-width: none;
    }
}

// row
.overflow_hidden{
    overflow-x: hidden; // pour que la marge soit nul lors que le viewport est dépassé
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -#{$gutter};
   

    &.align-items-center { align-items: center; }
    &.align-items-start { align-items: flex-start; }
    &.align-items-end { align-items: flex-end; }
}


// grid
@mixin grid_builder ($device_size: 'xs') {
    @for $i from 1 through $total_col {
        .col-#{$device_size}-#{$i} {
            $calc: ((100% / $total_col) * $i);

            width: calc(#{$calc} - #{$total_gutter});
            margin: 0 #{$gutter};
        }
    }
}

@include grid_builder();

@include respond-to (min-width, $sm) { @include grid_builder('sm'); }
@include respond-to (min-width, $md) { @include grid_builder('md'); }
@include respond-to (min-width, $lg) { @include grid_builder('lg'); }

[class*="col-"] {
    &.align-self-center { align-self: center; }
    &.align-self-start { align-self: flex-start; }
    &.align-self-end { align-self: flex-end; }
}
