.tabs {
  position: relative;
  .tabs-nav {
    ul {
      @include font_texte(15px, 500, #252525);
      padding: 0;
      margin: 0;
      list-style: none;
    }

    &--light {
      ul {
        padding: 0;
        margin: 0;
      }
      li {
        display: block;
        background: #f1f6f9;
        padding: 15px 20px;
        color: black;

        & + li {
          margin-top: 5px;
        }

        &.tabs-nav-item--active,
        &:hover {
          background: #6270ff;
          position: relative;
          color: white;

          &::before {
            content: "";
            height: 100%;
            width: 10px;
            background: -webkit-linear-gradient(top, #6478ff 0%, #77c5ff 100%);
            position: absolute;
            left: 0;
            top: 0;
          }
          li {
            border: 0px;
          }
        } // fin hover
      } // fin du li
    } // fin du ul

    &--purple {
      ul {
        padding: 0;
        margin: 0;
      }
      li {
        display: block;
        z-index: 20;

        background: #6270ff;
        padding: 15px 20px;
        color: white;
        top: 3px;
        position: relative;

        & + li {
          margin-top: 5px;
        }

        &.tabs-nav-item--active-gray,
        &:hover {
          background: #f1f6f9;
          z-index: 20;
          top: 3px;
          position: relative;
          color: #252525;

          li {
            border: 0px;
          }
        } // fin hover

        &.tabs-nav-item--active-white,
        &:hover {
          border: 3px solid #f1f6f9;
          border-bottom: white;
          top: 3px;
          z-index: 20;
          position: relative;
          color: #252525;
          background: white;

          li {
            border: 0px;
          }
        } // fin hover 2
      } // fin du li
    } // fin du ul

    &--dark {
      ul {
        padding: 0;
      }
      li {
        background: black;
        padding: 40px 100px;
        color: white;

        &.tabs-nav-item--active,
        &:hover {
          background: #6270ff;
          position: relative;
          color: white;

          li {
            border: 0px;
          }
        } // fin hover
      } // fin li
    } //fin dark

    &--horizontal {
      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      li {
        display: inline-block;
        padding: 15px 35px;

        & + li {
          margin-top: 0px;
        } // fin li +li
      } // fin li

      &.big-block {
        li {
          padding: 55px 112.05px;
        }

        &.row:last-child {
          margin-right: 0;
        }
      }

      &.mi-block {
        li {
          padding: 55px 45px;
        }
      }
    } // fin horiont
    &--background-white {
      li {
        background: white;
      } // fin li
    } // fin bg

    // } // fin ul
  } // fin tabs-nav
} // fin tab

.tabs-content {
  display: flex;

  &.article-inactive {
    display: none;
  }
}

.tabs-background {
  content: "";
  height: 100%;
  padding: 30px 30px;
  position: relative;

  &--gray-light {
    background: #f1f6f9;
  }
  &--border-gray-light {
    border: 3px solid #f1f6f9;
  }
}

.tabs-border {
  ul {
    padding: 0px;
    @include font_texte(15px, 500, #252525);
    list-style: none;

    li {
      padding: 20px 20px 20px 50px;
      box-sizing: border-box;
      position: relative;

      & + li {
        margin-top: 5px;
      }
    }
  }

  &.border-colored {
    li {
      border: 3px solid #f1f6f9;

      &::before {
        content: "";
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background: #f1f6f9;
        position: absolute;
        top: 26px;
        left: 30px;
      }

      &.border-colored--active,
      &:hover {
        border: 3px solid transparent;
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
        background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #79ccff, #9b74ff);

        &::before {
          background: -webkit-linear-gradient(left, #79ccff 0%, #9b74ff 100%);
        }
      } // fin du hover
    } // fin du li
  } // fin du border colored

  &.background-colored {
    li {
      background: #f1f6f9;

      &::before {
        content: "";
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background: #dae2e7;
        position: absolute;
        top: 26px;
        left: 30px;
      }

      &.background-colored--active,
      &:hover {
        color: white;
        background: -webkit-linear-gradient(left, #79ccff 0%, #9b74ff 100%);

        &::before {
          background: white;
        }
      } // fin du hover
    } // fin du li
  } // fin du background colored
} // fin du tabs-border

@include respond-to(max-width, $sm) {
  .tabs-nav--horizontal {
    ul {
      display: flex;
      flex-direction: column !important ;
    }
  }
  .width--one-third {
    width: 100% !important ;
  }
  .article-and-image {
    img {
      display: none;
    }
  }
}

@include respond-to(max-width, $md) {
  .width--one-third {
    width: 100% !important ;
  }
  .article-and-image {
    img {
      display: none;
    }
  }
}
