.dropcaps {
  font-size: 60px;
  width: 80px;
  float: left;
  display: flex;
  justify-content: center;
  margin: 0 10px 10px 0;
}

.line-colored {
  &::before {
    content: "";
    height: 120%;
    width: 5px;
    bottom: -5px;
    left: 0;
    margin: 0;
    display: block;
    position: absolute;
    background: -webkit-linear-gradient(top, #9b75ff 0%, #79cbff 100%);
  }
  &--horrizontal {
    &::before {
      transform: rotate(90deg);
      bottom: 50%;
      left: auto;
    }
  }

  &--slim {
    &::before {
      height: 200%;
      width: 3px;
    }
  }
}

.quotes {
  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 70px;
    width: 25px;
    top: -30px;
    background: -webkit-linear-gradient(top, #9b74ff 0%, #79cbff 100%);
    opacity: 0.5;
    transform: rotate(25deg);
    z-index: -1;
  }
  &::after {
    content: "";
    left: 40px;
  }
}

.dropcaps {
  &--rond {
    border-radius: 100%;
  }

  &--italic {
    display: block;
    font-style: italic;
    background: white;
    color: black;
    position: relative;
    display: flex;
    justify-content: center;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: -webkit-linear-gradient(bottom, #9583ff, #7ec0ff);
      background: linear-gradient(to bottom, #9583ff, #7ec0ff);
      content: "";
      display: block;
      mix-blend-mode: screen;
    }
  }
}

.titre-header {
  font-family: "Roboto", sans-serif;
  background: #444dad;
  text-align: center;
  padding: 60px 0px;

  h1 {
    color: #ffffff;
    font-size: 72px;
    margin: 0px;
    font-weight: 700;
  }
}

h1 {
  @include font_texte(34px, 700);
}

h2 {
  @include font_texte(30px, 700);
}

h3 {
  @include font_texte(24px, 700);
}

h4 {
  @include font_texte(20px, 700);
}

h6 {
  @include font_texte(12px, 700);
}

article {
  @include font_texte(15px, 400, $color_article);
  text-align: justify;
  margin-top: 20px;
  width: 100%;
  position: relative;
}

.article-white {
  @include font_texte(15px, 400, #ffffff);
}

.article-black {
  @include font_texte(15px, 400, #000000);
}

.title-article-white {
  @include font_texte(16px, 700, #ffffff);
}

.title-article-black {
  @include font_texte(16px, 700, #000000);
}

a {
  @include font_texte(14px);
  text-decoration: none;
}

.sous-sous-titre {
  @include font_texte(12px, 700);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.sous-titre {
  @include font_texte(30px, 700);
  text-align: center;
  margin: 50px 0;
}

.article-title {
  @include font_texte(30px, 700);
}

.font-size {
  &--60 {
    font-size: 60px;
  }
}

.font-color {
  &--white {
    color: white;
  }
}

p {
  margin: 0;
  &.regular {
    &-34 {
      @include font_texte(34px, 400);
    }
    &-48 {
      @include font_texte(48px, 400);
    }
    &-36 {
      @include font_texte(36px, 400);
    }
    &--bold-34 {
      @include font_texte(34px, 400);
    }
    &--bold-34 {
      @include font_texte(34px, 400);
    }
    &--bold-34 {
      @include font_texte(34px, 400);
    }
  }

  &.bold {
    &-34 {
      @include font_texte(34px, 700);
    }
    &--bold-34 {
      @include font_texte(34px, 700);
    }
    &--bold-34 {
      @include font_texte(34px, 700);
    }
    &--bold-34 {
      @include font_texte(34px, 700);
    }
    &--bold-34 {
      @include font_texte(34px, 700);
    }
    &--bold-34 {
      @include font_texte(34px, 700);
    }
  }
}
