footer {
  display: flex;
  background: #03062f;
  margin: 0;
  padding: 20px 0;
  margin-top: 100px;

  .container {
    margin: 0 auto;

    .footer {
      margin: 0 auto;
      overflow: hidden;
      display: flex;
      flex-direction: row;

      .logo_and_text {
        flex-grow: 1;

        .mini_logo {
          display: inline-block;

          figure {
            display: inline-block;
            margin: 0;
            transform: translateY(22%);
          } // fin figure
        } // fin mini logo
        p {
          font-family: "Roboto", sans-serif;
          font-size: 15px;
          color: #6270ff;
          display: inline-block;
          margin: 0 0 0 20px;
          line-height: 3em;
        } // fin p
      } // fin logo et texte
      .icons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0;
        float: right;
        line-height: 3em;

        a + a {
          margin-left: 30px;
        }

        [class*="icon-"] {
          color: #6270ff;
        }
      } // fin icons
    } // fin .footer
  } // fin container
} // fin footer

