@mixin font_texte ($font-size:14px, $font-weight:400, $color: $black) {
    font-family: 'Roboto', sans-serif; // la font Bw Modelica est payante alors j'ai pris la font Roboto
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
}